<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <div style="border:1px solid #fff;">
        <table>
            <tr>
                <th>ID</th>
                <th>Group</th>
                <th>Deployment</th>
                <th>Dataset</th>
                <th>OpenVPN</th>
                <th>IPv6 address</th>
                <th>Pubkey</th>
                <th>Created</th>
                <th>Configured</th>
                <th>Fitted</th>
                <th>OS</th>
                <th>Monitor</th>
                <th>SN</th>
                <th>Model</th>
                <th>Last sync</th>
                <th>Updating</th>
            </tr>
            <f:for each="{systems}" as="system">
                <tr>
                    <td>{system.id}</td>
                    <td>{system.group}</td>
                    <td>{system.deployment}</td>
                    <td>{system.dataset}</td>
                    <td>{system.openvpn}</td>
                    <td>{system.ipv6address}</td>
                    <td>{system.pubkey}</td>
                    <td><f:format.date format="Y-M-D H:m:s">{system.created}</f:format.date></td>
                    <td><f:format.date format="Y-M-D H:m:s">{system.configured}</f:format.date></td>
                    <td>
                        <f:if condition="{system.fitted}">
                            <f:then>
                                Ja
                            </f:then>
                            <f:else>
                                Nein
                            </f:else>
                        </f:if>
                    </td>
                    <td>{system.operating_system}</td>
                    <td>
                        <f:if condition="{system.monitor}">
                            <f:then>
                                Ja
                            </f:then>
                            <f:else>
                                Nein
                            </f:else>
                        </f:if>
                    </td>
                    <td>{system.serial_number}</td>
                    <td>{system.model}</td>
                    <td><f:format.date format="Y-M-D H:m:s">{system.last_sync}</f:format.date></td>
                    <td>
                        <f:if condition="{system.updating}">
                            <f:then>
                                Ja
                            </f:then>
                            <f:else>
                                Nein
                            </f:else>
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</html>